/*
McShane's Preferred Pallette 
Light:--------- #006899
Medium:-------- #002755
Dark:---------- #070C23
Grey:---------- #46414B
Grey Light:---- #768388
Grey w/ Blue:-- #4A6870
Aqua:---------- #9CCAC2
Cream 1:------- #DBF7DF
Cream 2:------- #E9F9DF


.color-primary-0 { color: #0284CA }	Main Primary color
.color-primary-1 { color: #2FA5E5 }
.color-primary-2 { color: #099CEB }
.color-primary-3 { color: #026194 }
.color-primary-4 { color: #014B72 }
.color-primary-5 { color: #002132 }

As RGBa codes 

.rgba-primary-0 { color: rgba(  2,132,202,1) }	Main Primary color
.rgba-primary-1 { color: rgba( 47,165,229,1) }
.rgba-primary-2 { color: rgba(  9,156,235,1) }
.rgba-primary-3 { color: rgba(  2, 97,148,1) }
.rgba-primary-4 { color: rgba(  1, 75,114,1) }
.rgba-primary-5 { color: rgba(  0, 33,50,1 ) }

Fonts

font-family: 'Rubik', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Cabin', sans-serif;
font-family: 'VT323', monospace;
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;

*/

* {
    padding: 0;
    margin: 0;
}

/* Full Page Images */

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    color: #926239;
}

#showcase {
    background-image: url("../img/1.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Nav Homepage */

#homeContent {
    padding: 1em;
    width: 95%;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.5);
}

.title {
    text-align: center;
    font-size: 2em;
    overflow: hidden;
}

.homepageName {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 1.25em;
    text-shadow: 5px 5px 10px black;
}

.homepageTrade {
    font-family: 'Pacifico', cursive;
    color: white;
    font-weight: 100;
    font-size: 1em;
    margin-bottom: .5em;
    text-shadow: 5px 5px 10px black;
}

.navbarHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
}

/* Other Page Menu Styles */

.otherNav {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
}

.mainNav {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    font-family: 'Rubik', 'Helvetica', sans-serif;
}

.menuDiv {
    display: flex;
    align-items: flex-end;
    width: 125px;
    height: 65px;
    padding-top: 35px;
    transition: .5s ease-in-out;
}

.menuDiv a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: bolder;
    text-align: center;
    color: #4A6870;
    padding: 10px;
    height: 50px;
    width: 125px;
}

.menuDiv:hover {
    border-bottom: 10px solid #006899;
}

.menuDiv a:hover {
    color: white;
    transform: scale(1.125);
    transition: 1s;
}

.active {
    display: flex;
    border: 10px solid #006899;
    margin-top: 10px;
    width: 120px;
    height: 45px;
}

.active a {
    color: white;
}

/* Gallery Styles */

.container {
    display: grid;
    grid-template-columns: 500px 500px 500px 500px;
    grid-template-rows: auto;
    grid-template-areas: "sidebar main main main" "footer footer footer footer";
    width: 100%;
    margin: 0;
    background: #fff;
    padding-top: 100px;
}

.main-img img,
.imgs img {
    width: 100%;
}

.main-img {
    position: fixed;
    top: 150px;
    right: 50px;
    grid-area: main;
    width: 60%;
    line-height: 0;
}

.imgs {
    grid-area: sidebar;
    width: 80%;
    grid-template-rows: repeat(8, 1fr);
    padding: 50px;
    margin: 0;
}

.imgs img {
    padding: 0px 0px 10px 0px;
    margin: 0;
}

/* Fade in animation */

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
}

/* Footer Styles */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5em;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Rubik', sans-serif;
    color: #768388;
    text-align: center;
    text-shadow: 3px 3px 7px black;
}

.footer p {
    margin: 0 auto;
    font-size: .9em;
}

@media screen and (min-width: 700px) {
    /* Nav Homepage */
    #homeContent {
        padding: 3em;
        width: 70%;
        border-radius: 2em;
    }

    .title {
        text-align: center;
        font-size: 2em;
        overflow: hidden;
    }

    .homepageName {
        font-size: 2em;
    }

    .homepageTrade {
        font-size: 1.5em;
        margin-bottom: 1em;
    }

    .navbarHome {
        display: flex;
        flex-direction: row;
        justify-content: center;
        overflow: hidden;
        font-family: 'Quicksand', sans-serif;
    }

    .navbarHome a {
        font-size: 1.5em;
        text-align: center;
        color: #768388;
        width: 6em;
        padding: .25em .25em;
        margin: 0em 1em;
        text-decoration: none;
        border-radius: 5px;
        background: none;
        transition: 1s ease-in-out;
    }

    .navbarHome a:hover {
        color: white;
        transform: scale(1.125);
        transition: 1s;
    }

    /* About Card */
}
