/* Nav Homepage */

#homeContent {
    padding: 1em;
    width: 95%;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.5);
}

.title {
    text-align: center;
    font-size: 2em;
    overflow: hidden;
}

.homepageName {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 1.25em;
    text-shadow: 5px 5px 10px black;
}

.homepageTrade {
    font-family: 'Pacifico', cursive;
    color: white;
    font-weight: 100;
    font-size: 1em;
    margin-bottom: .5em;
    text-shadow: 5px 5px 10px black;
}

.navbarHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
}