/* Other Page Menu Styles */

.otherNav {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
}

.mainNav {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    font-family: 'Rubik', 'Helvetica', sans-serif;
}

.menuDiv {
    display: flex;
    align-items: flex-end;
    width: 125px;
    height: 65px;
    padding-top: 35px;
    transition: .5s ease-in-out;
}

.menuDiv a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: bolder;
    text-align: center;
    color: #4A6870;
    padding: 10px;
    height: 50px;
    width: 125px;
}

.menuDiv:hover {
    border-bottom: 10px solid #006899;
}

.menuDiv a:hover {
    color: white;
    transform: scale(1.125);
    transition: 1s;
}

.active {
    display: flex;
    border: 10px solid #006899;
    margin-top: 10px;
    width: 120px;
    height: 45px;
}

.active a {
    color: white;
}
